@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --FontPrincipal: 'Poppins', sans-serif;
}

.corpo {
    background-color: rgb(87, 154, 255);
}

.Aparece{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NaoAparece{
    display: none;
}
/* .section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TittleSection{
    font-family: var(--FontPrincipal);
}
#AddNome{
    font-family: var(--FontPrincipal);
    border-radius: 16px;
}
#CampoNome{
    font-family: var(--FontPrincipal);
    border-radius: 16px;
} */