@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.allInspiration {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FCF8F3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.txtInspiration{
    font-family: 'Poppins', sans-serif;
}

.btnInspiration {
    border: solid #B88E2F;
    color: white;
    background-color: #B88E2F;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.titleInspiration {
    max-width: 70%;
    margin-left: 100px;
}

.txtInspiration {
}