@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.allInspiration {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txtInspiration{
    font-family: 'Poppins', sans-serif;
}